In [ ]:
import pandas as pd

df = pd.read_csv("../data/synthetic_fraud_data.csv", nrows=700000)
df.columns

,transaction_id,customer_id,card_number,timestamp,merchant_category,merchant_type,merchant,amount,currency,country,...,device,channel,device_fingerprint,ip_address,distance_from_home,high_risk_merchant,transaction_hour,weekend_transaction,velocity_last_hour,is_fraud
0,TX_a0ad2a2a,CUST_72886,6646734767813109,2024-09-30 00:00:01.034820+00:00,Restaurant,fast_food,Taco Bell,294.87,GBP,UK,...,iOS App,mobile,e8e6160445c935fd0001501e4cbac8bc,197.153.60.199,0,False,0,False,"{'num_transactions': 1197, 'total_amount': 334...",False
1,TX_3599c101,CUST_70474,376800864692727,2024-09-30 00:00:01.764464+00:00,Entertainment,gaming,Steam,3368.97,BRL,Brazil,...,Edge,web,a73043a57091e775af37f252b3a32af9,208.123.221.203,1,True,0,False,"{'num_transactions': 509, 'total_amount': 2011...",True
2,TX_a9461c6d,CUST_10715,5251909460951913,2024-09-30 00:00:02.273762+00:00,Grocery,physical,Whole Foods,102582.38,JPY,Japan,...,Firefox,web,218864e94ceaa41577d216b149722261,10.194.159.204,0,False,0,False,"{'num_transactions': 332, 'total_amount': 3916...",False
3,TX_7be21fc4,CUST_16193,376079286931183,2024-09-30 00:00:02.297466+00:00,Gas,major,Exxon,630.60,AUD,Australia,...,iOS App,mobile,70423fa3a1e74d01203cf93b51b9631d,17.230.177.225,0,False,0,False,"{'num_transactions': 764, 'total_amount': 2201...",False
4,TX_150f490b,CUST_87572,6172948052178810,2024-09-30 00:00:02.544063+00:00,Healthcare,medical,Medical Center,724949.27,NGN,Nigeria,...,Chrome,web,9880776c7b6038f2af86bd4e18a1b1a4,136.241.219.151,1,False,0,False,"{'num_transactions': 218, 'total_amount': 4827...",True

In [26]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format="ISO8601")
df = df.set_index('timestamp').resample('1min').size().reset_index(name='txn_count')

df.sample(10)

                     timestamp  txn_count
1900 2024-10-01 07:40:00+00:00        171
355  2024-09-30 05:55:00+00:00        101
2751 2024-10-01 21:51:00+00:00        112
609  2024-09-30 10:09:00+00:00        157
2992 2024-10-02 01:52:00+00:00        166
528  2024-09-30 08:48:00+00:00        200
2117 2024-10-01 11:17:00+00:00        171
3614 2024-10-02 12:14:00+00:00        240
3719 2024-10-02 13:59:00+00:00        183
322  2024-09-30 05:22:00+00:00        105

In [27]:
def add_time_features(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    df['hour'] = df['timestamp'].dt.hour
    df['day_of_week'] = df['timestamp'].dt.day_of_week

    return df

df = add_time_features(df)
df.sample(10)

                     timestamp  txn_count  hour  day_of_week
4039 2024-10-02 19:19:00+00:00        209    19            2
167  2024-09-30 02:47:00+00:00        147     2            0
1160 2024-09-30 19:20:00+00:00        190    19            0
1330 2024-09-30 22:10:00+00:00        195    22            0
1513 2024-10-01 01:13:00+00:00        128     1            1
92   2024-09-30 01:32:00+00:00        137     1            0
766  2024-09-30 12:46:00+00:00        209    12            0
1186 2024-09-30 19:46:00+00:00        196    19            0
3046 2024-10-02 02:46:00+00:00        156     2            2
2475 2024-10-01 17:15:00+00:00        236    17            1

In [29]:
df.sample(10)

                     timestamp  txn_count  hour  day_of_week
1880 2024-10-01 07:20:00+00:00        155     7            1
732  2024-09-30 12:12:00+00:00        209    12            0
3576 2024-10-02 11:36:00+00:00        190    11            2
1460 2024-10-01 00:20:00+00:00         86     0            1
689  2024-09-30 11:29:00+00:00        194    11            0
489  2024-09-30 08:09:00+00:00        219     8            0
4136 2024-10-02 20:56:00+00:00        161    20            2
1126 2024-09-30 18:46:00+00:00        247    18            0
1345 2024-09-30 22:25:00+00:00        164    22            0
3044 2024-10-02 02:44:00+00:00        139     2            2

In [30]:
df.columns

Index(['timestamp', 'txn_count', 'hour', 'day_of_week'], dtype='object')