In [13]:
import pandas as pd

# EDA summary
summary_df = pd.read_csv("../data/eda_summary.csv")
summary_df

,total_records,total_minutes,mean_tps,std_tps,min_tps,max_tps,zero_minutes,outliers_pct,adf_pvalue,is_stationary,peak_hour,low_hour,recommended_lookback
0,7483766,44640,167.647088,41.575299,49,298,0,0.0,1.316706e-26,True,18,0,96

In [14]:

# Processed TPS data
tps_df = pd.read_csv("../data/processed_tps_data.csv")
tps_df

,timestamp,tps,hour,day_of_week,day_name,date,is_weekend,rolling_mean,rolling_std
0,2024-09-30 00:00:00,72,0,0,Monday,2024-09-30,False,NaN,NaN
1,2024-09-30 00:01:00,97,0,0,Monday,2024-09-30,False,NaN,NaN
2,2024-09-30 00:02:00,87,0,0,Monday,2024-09-30,False,NaN,NaN
3,2024-09-30 00:03:00,80,0,0,Monday,2024-09-30,False,NaN,NaN
4,2024-09-30 00:04:00,85,0,0,Monday,2024-09-30,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...
44635,2024-10-30 23:55:00,173,23,2,Wednesday,2024-10-30,False,167.793750,41.184965
44636,2024-10-30 23:56:00,131,23,2,Wednesday,2024-10-30,False,167.771528,41.196185
44637,2024-10-30 23:57:00,161,23,2,Wednesday,2024-10-30,False,167.777778,41.194473
44638,2024-10-30 23:58:00,147,23,2,Wednesday,2024-10-30,False,167.766667,41.197921
44639,2024-10-30 23:59:00,160,23,2,Wednesday,2024-10-30,False,167.784028,41.189370